
body, html {
    background-color:hsl(210, 15%, 24%);
}

div{
    font-family: Tahoma, Verdana, Segoe, sans-serif;
}

label {
    color: hsl(32, 93%, 45%);
}

button {
    background-color:hsl(210, 15%, 34%);
    /* border: none; */
    color: #AAAAAA;
    /* padding: 15px 32px; */
    text-align: center;
    display: inline-block;
    font-size: 20px;
    height: 7.0rem;
    width: 8.0rem;

    border: 0.1rem solid  hsl(210, 15%, 20%);
    border-radius: .4rem;
}
button:hover, button:focus {
    background-color: #2980B9;
}

input[type=checkbox]
{
  /* Double-sized Checkboxes */
  -ms-transform: scale(2.5); /* IE */
  -moz-transform: scale(2.5); /* FF */
  -webkit-transform: scale(2.5); /* Safari and Chrome */
  -o-transform: scale(2.5); /* Opera */
  padding: 10px;
}

.checkboxtext
{
  font-size: 130%;
  display: inline;
}

.ctrl_container {
    width: 100%;
}

.habsentence_text {
    font-size: 12px;
    color: rgb(200,50,0);
}

.ctrl_box {
    color: hsl(32, 93%, 60%);
    background-color: transparent;
    border: 0.1rem solid #000000;
    border-radius: .4rem;
    height: 2.5rem;
    padding: .6rem 1.0rem;
    width: 50px;
}

.increment_button {
    background-color:hsl(210, 15%, 34%);
    border: none;
    color: #AAAAAA;
    text-align: center;
    display: inline-block;
    font-size: 20px;
    height: 60px;
    width: 80px;

    border: 0.1rem solid  hsl(210, 15%, 20%);
    border-radius: .4rem;
}


/* Payloads DropDown Menu */

/* wrapper */
.PayloadsWrapperDiv {
    position: relative;
    display: inline-block;
}
.PayloadsWrapperDiv a:hover {background-color: #ddd}


.PayloadsDropButton {
    background-color:hsl(210, 15%, 34%);
    border: none;
    color: #AAAAAA;
    text-align: center;
    display: inline-block;
    font-size: 20px;
    width: 23.5rem;
    height: 7.0rem;

    border: 0.1rem solid  hsl(210, 15%, 20%);
    border-radius: .4rem;
}
.PayloadsDropButton:hover, .PayloadsDropButton:focus {
    background-color: #2980B9;
}


/* Dropdown Content (Hidden by Default) */
.PayloadsDropMenu {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Payload Button */
.PayloadsDropMenu button {
    display: block;
    /* color: black; */
    padding: 16px 16px;
    text-decoration: none;
    font-size: 16px;
    width: 23.5rem;
    height: 7.0rem;
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}